@import "tailwindcss";

@theme {
  --animate-blob: blob 7s infinite;
  --animate-float: float 20s infinite linear;
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
  
  @keyframes float {
    0% { transform: translate(-10vw, -10vh) rotate(0deg) scale(1); }
    33% { transform: translate(60vw, 20vh) rotate(120deg) scale(1.2); }
    66% { transform: translate(20vw, 80vh) rotate(240deg) scale(0.8); }
    100% { transform: translate(-10vw, -10vh) rotate(360deg) scale(1); }
  }
}